@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito', sans-serif;
}

@layer base {
  :root {
    /* default light theme */
    --sky: #a3deff;
    --hoverPrimary: #5c6084;
    --background: #f1f5f9;
    --accentPrimary: #2563eb;
    --link: #71461f;
    --text: #000000;
    --title: #373a5e;
    /* --text: #373a5e; */
  }

  [data-theme='light'] {
    --sky: #a3deff;
    --hoverPrimary: #5c6084;
    --background: #f1f5f9;
    --accentPrimary: #2563eb;
    --link: #71461f;
    --text: #000000;
    --title: #373a5e;
  }

  [data-theme='dark'] {
    --sky: #2c314f;
    --hoverPrimary: #7495be;
    --background: #1b1c1e;
    --accentPrimary: #ffffff;
    --link: #ffac01;
    --text: #ffffff;
    --title: #ffffff;
  }

  [data-theme='purple'] {
    --sky: #2c314f;
    --hoverPrimary: #7495be;
    --background: #1b1c1e;
    --accentPrimary: #A020F0;
    --link: #ffac01;
    --text: #ffffff;
    --title: #ba5fde;
  }
}

html,
body {
  width: 100% !important;
  background-color: var(--sky);
}

.min-safe-h-screen {
  /* equivalent to 100dvh in major browsers */
  min-height: calc(
    100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0)
  ) !important;
}

@supports (-webkit-touch-callout: none) {
  .min-safe-h-screen {
    /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
    min-height: -webkit-fill-available !important;
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
